/* GENERAL RULES */

.bordo {
    border: 1px solid black;
}

/* HEADER */

.logo-text {
    font-size: 1.6rem;
    font-weight: 700;
    vertical-align: middle;
}

.form-control {
    display: inline-block !important;
    width: auto !important;
}

/* MAIN */

main {
    background-color: lightgreen;
    height: 80vh;
    position: relative;
}

main .wrapper {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid-facile {
    width: calc(100% / 10);
    height: calc(100% / 10);
    line-height: calc(400px / 10);
    cursor: crosshair;
}

.grid-medio {
    width: calc(100% / 9);
    height: calc(100% / 9);
    line-height: calc(400px / 9);
    cursor: crosshair;
}

.grid-difficile {
    width: calc(100% / 7);
    height: calc(100% / 7);
    line-height: calc(400px / 7);
    cursor: crosshair;
}

.sfondo{
    background-color: green;
    cursor: crosshair;
}

/* FOOTER */